<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scowluga.android.rcacc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!--Sync Adapter-->
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <!-- Required to enable our SyncAdapter after it's created. -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cadet_logo_launcher_noback"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">

        <activity
            android:name=".Main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main.FirstRun"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name=".CadetResources.Starlevel.GenericFileProvider"
            android:authorities="${applicationId}STARLEVEL"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!--<provider-->
            <!--android:authorities="com.scowluga.android.rcacc"-->
            <!--android:name=".sync.provider.FeedProvider"-->
            <!--android:exported="false" />-->

        <!--<service android:name=".sync.SyncService" android:exported="true">-->
            <!--&lt;!&ndash; This intent filter is required. It allows the system to launch our sync service as needed. &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.content.SyncAdapter" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; This points to a required XML file which describes our SyncAdapter. &ndash;&gt;-->
            <!--<meta-data android:name="android.content.SyncAdapter"-->
                <!--android:resource="@xml/syncadapter" />-->
        <!--</service>-->

        <!--<service android:name=".sync.accounts.GenericAccountService">-->
            <!--&lt;!&ndash; Required filter used by the system to launch our account service. &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.accounts.AccountAuthenticator" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; This points to an XML file which describes our account service. &ndash;&gt;-->
            <!--<meta-data android:name="android.accounts.AccountAuthenticator"-->
                <!--android:resource="@xml/authenticator" />-->
        <!--</service>-->

    </application>

</manifest>